[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #0C9AAE;
    --md-primary-bg-color: #ffffff;
}

[data-md-color-scheme="default"] {
    --md-primary-fg-color: #0C9AAE;
    --md-primary-bg-color: #ffffff;
}
